# Terraform
**/.terraform/              # Игнорировать все папки .terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# SSH и секреты
**/secrets/                 # Вся папка
**/ssh-keys/                # Приватные SSH-ключи
*.pub                       # все публичные ключи




